:root {
    --clr-primary-cyan: hsl(179, 62%, 43%);
    --clr-primary-yellow: hsl(71, 73%, 54%);
    --clr-primary-cyan-light: hsl(179, 62%, 48%);
    --clr-primary-cyan-dark: hsl(179, 62%, 35%);

    --clr-neutral-gray: hsl(204, 43%, 93%);
    --clr-neutral-blue: hsl(218, 22%, 67%);

    --fs-m: 1rem;
    --fs-s: 0.65rem;
    --fs-l: 1.2rem;
    --fs-xl: 1.5rem;
    --fs-xxl: 2rem;

    --fw-m: 400;
    --fw-l: 700;

    --ff: 'Karla', sans-serif;
}

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--clr-neutral-gray);
    min-height: 100vh;
    color: var(--clr-neutral-blue);
    font-family: var(--ff);
    font-size: var(--fs-m);
    font-weight: var(--fw-m);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    background-color: white;
    border-radius: 0.5rem;
    overflow: hidden;
    margin: auto;
}

section {
    padding: 2rem;
}

h1 {
    color: var(--clr-primary-cyan);
    font-size: var(--fs-xl);
}

h2 {
    color: var(--clr-primary-yellow);
    padding: 1em 0;
    font-size: var(--fs-l);
}

p {
    line-height: 1.6;
}

.subs, .why{
    color: var(--clr-neutral-gray);
}

.subs {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--clr-primary-cyan);
}

.why {
    background-color: var(--clr-primary-cyan-light);
}

.subs> p {
    padding-bottom: 1.25em;
}

.price {
    display: flex;
    gap: 1em;
    align-items: center;
}

h3 {
    /* padding-bottom: 1em; */
}

h4 {
    font-size: var(--fs-xxl);
    font-weight: var(--fw-l);
}

button {
    background-color: var(--clr-primary-yellow);
    color: var(--clr-neutral-gray);
    font-size: var(--fs-m);
    font-weight: var(--fw-l);
    padding: 0.75em 0;
    width: 100%;
    border-radius: 0.5em;
    border: none;
    box-shadow: 0.1em 0.5em 1em var(--clr-primary-cyan-dark);
}

ul {
    list-style: none;
    padding-top: 1em;
}

li {
    line-height: 1.6;
}


.attribution { 
    font-size: var(--fs-s); 
    margin-bottom: 0.5em;
    text-align: center;
}

.attribution a {
    color: var(--clr-primary-yellow); 
}

@media (min-width: 600px) {
    main {
        max-width: 650px;
        width: 90%;
        display: grid;
        grid-template-rows: repeat(auto, auto);
        grid-template-columns: repeat(2, 1fr);
        margin: auto;
    }
    .intro {
        grid-area: 1 / 1 / 2 / 3;
    }
}
