:root {
    --clr-primary-cyan: hsl(179, 62%, 43%);
    --clr-primary-yellow: hsl(71, 73%, 54%);

    --clr-neutral-gray: hsl(204, 43%, 93%);
    --clr-neutral-blue: hsl(218, 22%, 67%);

    --fs-m: 1rem;

    --fw-m: 400;
    --fw-l: 700;

    --ff: 'Karla', sans-serif;
}

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    color: var(--clr-neutral-blue);
    font-family: var(--ff);
    font-size: var(--fs-m);
    font-weight: var(--fw-m);
}